.red,
.blue,
.violet {
    height: 35vh;
    width: 15vw;
    align-self: center;
    border-radius: 10px;
}

.red {
    background-color: rgb(252, 92, 92);
}

.blue {
    background-color: rgb(91, 91, 247);
}

.violet {
    background-color: rgb(185, 119, 247);
}

.size {
    align-self: center;
    margin: 2%;
    font-size: 7vh;
    color: rgb(73, 102, 105);
}

body {
    background-color: rgb(202, 234, 255);
}

nav {
    background-color: white;
}

.cards {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.gallery__img {
    max-width: 100%;
    height: 70%;
    align-self: center;
}

.gallery {
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.arrows {
    align-self: center;
    margin: 2%;
}

.record {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 5% 35%;
    border-radius: 25px;
    background-color: white;
}

.record__input,
.record__text,
#error,
#security,
#correct,
#helloLogin {
    margin: 2% 10%;
    padding: 1%;
}

#helloLogin {
    text-align: center;
}

.record__text {
    align-self: center;
    margin-top: 10%;
    color: rgb(50, 75, 82);
}

.record__input {
    border: none;
    outline: none;
    border-bottom: 4px solid rgb(84, 133, 145);
}

.record__btn {
    margin: 5% 10%;
    border-radius: 15px;
}

#error {
    text-align: center;
    color: red;
}


@media screen and (min-width: 760px) and (max-width: 1200px) {
    .record {
        margin: 5% 25%;
        max-width: 100%;
    }

    .record__text {
        margin-top: 10%;
        font-size: 3.5vh;
    }
}


@media screen and (min-width: 480px) and (max-width: 759px) {
    .record {
        margin: 5% 15%;
        max-width: 100%;
    }

    .record__text {
        margin-top: 15%;
        font-size: 3vh;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .record {
        margin: 5% 15%;
        max-width: 100%;
    }

    .record__text {
        margin-top: 5%;
        font-size: 3vh;
    }
}