.red,
.blue,
.violet {
    height: 35vh;
    width: 15vw;
    align-self: center;
    border-radius: 10px;
}

.red {
    background-color: rgb(252, 92, 92);
}

.blue {
    background-color: rgb(91, 91, 247);
}

.violet {
    background-color: rgb(185, 119, 247);
}

.size {
    align-self: center;
    margin: 2%;
    font-size: 7vh;
    color: rgb(73, 102, 105);
}

body {
    background-color: rgb(202, 234, 255);
}

nav {
    background-color: white;
}

.cards {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.gallery__img {
    max-width: 100%;
    height: 70%;
    align-self: center;
}

.gallery {
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.arrows {
    align-self: center;
    margin: 2%;
}